body {
  font-family: Papyrus, fantasy;
  color: #e5a9a9;
  background-image: image-url("tex2res4.png");
}

h1 {
  font-size: 54px;
  text-align: center;
}

#welcome {
  margin-top: 20px;
}

.btn-container {
  padding-top: 30px;
  width: 400px;
  margin: auto;
}

#begin-btn {
  font-size: 54px;
}